<header class="navbar">
  <div class="logo">
    <span class="material-icons">store</span>
    MypeApp
  </div>

  <div class="nav-right">
    <span *ngIf="isLogged()" class="user">
      Hola
      <span class="material-icons">person</span>
      {{ getUser() }}
      <span *ngIf="getRol() === 'mype'" class="badge">Negocio</span>
    </span>

    <button *ngIf="getRol() === 'mype'" class="btn secondary" (click)="goMype()">
      <span class="material-icons">storefront</span>
      Mi Mype
    </button>

    <button *ngIf="!isLogged()" class="btn" (click)="goLogin()">
      <span class="material-icons">login</span>
      Login
    </button>

    <button *ngIf="!isLogged()" class="btn primary" (click)="goRegister()">
      <span class="material-icons">person_add</span>
      Registrarse
    </button>

    <button *ngIf="isLogged()" class="btn danger" (click)="logout()">
      <span class="material-icons">logout</span>
      Salir
    </button>
  </div>
</header>

<section class="mypes">

  <h2>Mypes registradas</h2>

  <input 
    type="text" 
    placeholder="Buscar por nombre, RUC o dirección..." 
    [(ngModel)]="busqueda"
    class="search"
  />

  <p *ngIf="errorCarga">{{ errorCarga }}</p>

  <div class="grid">

    <div class="card" *ngFor="let m of mypesFiltradas">

      <div class="card-header">
        <div class="icon">
          <span class="material-icons">store</span>
        </div>
        <span class="estado">
          ID: {{ m.id }}
        </span>
      </div>

      <h3>{{ m.nombreComercial }}</h3>

      <p class="price">
        <span class="material-icons">description</span>
        RUC: {{ m.ruc }}
      </p>

      <p class="mype">
        <span class="material-icons">location_on</span>
        {{ m.direccion }}
      </p>

      <p class="coords">
        <span class="material-icons">public</span>
        Lat: {{ m.latitud }} | Lng: {{ m.longitud }}
      </p>

      <button class="btn-buy" (click)="verDetalle(m)">
        <span class="material-icons">visibility</span>
        Ver detalle
      </button>

    </div>

  </div>

</section>